@page "/"
@attribute [AdministratorsPage]
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Account</th>
            <th scope="col">Name</th>
            <th scope="col">ExpirationTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in userInfos)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td><input class="form-control" type="text" @bind='user.Account'></td>
                <td><input class="form-control" type="text" @bind='user.Name'></td>
                <td><input class="form-control" type="text" @bind='user.ExpirationTime'></td>
            </tr>
        }
    </tbody>
</table>